@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F2F2F2;
}
.questions {
  padding-top: 100px;
}

.question-box {
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
}

.question {
  padding-top: 20px;
  text-align: center;
}

.card-text {
  font-size: 25px;
  text-align: center;
}

.btn {
  display: block;
  margin: auto;
}

.vote-count {
  text-align: center;
}
